@import 'mixins';

.giphy-container {
  max-width: 200px;
  float: right;
  height: 200px;
}

.polaroid-images {
  a {
    font-family: fantasy;
    background: white;
    display: inline;
    float: left;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    @include box-shadow(0 , 4px, 6px, rgba(0, 0, 0, .3));
    @include transition(all .15s linear);
    z-index: 10;
    position: relative;
    @include transform(rotate(4deg));
    @include transform(rotate3d(0, 0, 1, 4deg));

    &:hover {
      @include transform(scale(1.5) translate(0, 25px) rotate(0deg));
      @include box-shadow(0 , 10px, 20px, rgba(0, 0, 0, .7));
    }

    &::after {
      color: #333;
      font-size: 20px;
      content: attr(title);
      top: 15px;
      position: relative;
    }
  }
}

.container {
  img,
  video {
    display: block;
    width: inherit;
    max-height: 240px;
    @include transition(all 1s ease-in-out);
  }
  .pollpopulous {
    img,
    video {
      min-height: 120px;
      max-height: 130px;
      max-width: 100%;
      @include transition(all 1s ease-in-out);
    }
  }
}
